:root {
    --background-col: rgb(242, 242, 242);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-height: auto;
    max-width: 500px;
}

.container {
    display: flex;
    justify-content: center;
    border: 5px solid black;
    width: 1200px;
}

.left {
    display: flex;
    max-width: 40vw;
    height: auto;
}

.credit {
    position: relative;
    /* color: white; */
}

.right {
    display: flex;
    flex-direction: column;
}

.top {
    padding: 50px;
    background: var(--background-col);
}

.middle {
    padding: 0px 50px;
    box-shadow: 0px 10px 5px -5px gainsboro;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px;
    background: var(--background-col);
}

.fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    height: 200px;
    align-items: flex-start;
}

.formfields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftform, .rightform {
    display: flex;
    flex-direction: column;
}

/* .rightform {
    align-items: flex-end;
    flex-grow: 0;
} */
